.micro-header-describe {
  padding: 0 20px 0 20px;

  .header:after {
    display: block;
    content: "";
    background: var(--primary-yellow-color);
    width: 40px;
    height: 2px;
  }

  h2.header:after {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
