.micro-button {
  button {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease 0s;
  }

  &.primary > button {
    color: var(--white-color);
    background: var(--primary-yellow-color);
    padding: 16px 23px 15px;
    border-radius: 999px;
    border: 1px solid var(--primary-yellow-color);

    &:hover {
      color: var(--black-color);
      background: transparent;
      opacity: 1;
      text-decoration: none;
    }
  }

  &.primary-alt > button {
    display: block;
    border: 0.5px solid var(--app-button-primary-alt-border-color);
    color: var(--app-button-primary-alt-color);
    font-weight: 500;
    border-radius: 0;
    padding: 16px 23px 15px;

    &:hover {
      color: var(--white-color);
      background: var(--primary-yellow-color);
      border-color: var(--primary-yellow-color);
    }
  }

  &.secondary > button {
    background: transparent;
    color: var(--white-color);
    padding: 16px 23px 15px;
    border-radius: 999px;
    border: 1px solid var(--white-color);

    &:hover {
      border-color: var(--primary-yellow-color);
      background: var(--primary-yellow-color);
    }
  }

  &.success > button {
    color: white;
    background-color: #28a745;

    &:hover {
      background-color: #218838;
    }
  }

  &.danger > button {
    color: white;
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}
