.landing-page-app {
  .landing-page-container {
    display: flex;
    height: 100vh; // Full height of the viewport
    min-height: 100vh;

    .landing-page-content {
      margin: calc(var(--app-navbar-top-height) + 2rem) 1.5rem 6.375rem;
      overflow: auto; // Handle overflow if content is too large
      transition-duration: 0.2s;
    }
  }

  @media (min-width: 992px) {
    .app-wrapper {
      margin-left: calc(
        var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) +
          var(--bs-app-sidebar-gap-end, 0px)
      );
    }
  }

  @media (max-width: 991.98px) {
    .app-wrapper {
      transition: margin-left 0.3s ease, margin-right 0.3s ease;
    }
  }
}
