.landing-page-app {
  .landing-page-container {
    display: flex;
    height: 100vh; // Full height of the viewport
    min-height: 100vh;

    .landing-page-content {
      margin: calc(var(--app-navbar-top-height) + 2rem) 1.5rem 6.375rem
        calc(var(--sidebar-width) + 1.5rem);
      overflow: auto; // Handle overflow if content is too large
      transition-duration: 0.2s;
    }

    .landing-page-content-collapsed {
      margin: calc(var(--app-navbar-top-height) + 2rem) 1.5rem 6.375rem
        calc(var(--sidebar-width-min) + 1.5rem);
      overflow: auto; // Handle overflow if content is too large

      transition-duration: 0.2s;
    }

    .base-container{
        width: 100%;
        height: 100%;
    }
  }
}
