.landing-page-app {
  .landing-page-container {
    .container-xxl {
      margin-top: var(--bs-app-header-height);
      padding: 2rem 2rem;
      width: 100%;
      transition-duration: 0.2s;
    }
  }

  @media (min-width: 992px) {
    .app-wrapper {
      margin-left: calc(
        var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) +
          var(--bs-app-sidebar-gap-end, 0px)
      );
    }
  }

  @media (max-width: 991.98px) {
    .app-wrapper {
      transition: margin-left 0.3s ease, margin-right 0.3s ease;
    }
  }
}
