.overall {
  background-color: var(--app-bg-color);
  padding-top: 30px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column {
    flex: 1 1 22%; // Adjust the percentage to fit four columns with some space
    box-sizing: border-box;
    padding: 10px;

    @media (max-width: 1024px) {
      flex: 1 1 45%; // Two columns on medium screens
    }

    @media (max-width: 768px) {
      flex: 1 1 100%; // One column on small screens
    }
  }

  .box-header {
    margin: 0 0 20px 0;

    border-bottom: 1px solid #e2e6e7;

    &:after {
      display: block;
      content: "";
      background: var(--primary-yellow-color);
      width: 40px;
      height: 2px;
      margin-top: 13px;
      margin-bottom: -1px;
    }
  }

  .service-list {
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        line-height: 24px;

        &.template-bullet:before {
          content: "\f00c";
          height: 2px;
          min-width: 2px;
          font-family: "Font Awesome 5 Free"; // Font family for Font Awesome
          color: var(--primary-yellow-color);
          padding-right: 15px;
          vertical-align: text-top;
        }
      }
    }
  }

  .taxonomies {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        float: left;
        margin-right: 7px;
        margin-bottom: 7px;
      }
    }
  }

  .blog {
    i {
      display: block;
      font-size: 12px;
      color: var(--app-font-disabled-color);
    }
    li {
      margin-top: 10px;
    }
  }
}
