.navbar-app {
  height: var(--bs-app-header-height);
  transition: none;
  position: fixed;
  display: flex;
  align-items: stretch;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--bs-app-header-base-bg-color);
  box-shadow: var(--bs-app-header-base-box-shadow);
  border-bottom: var(--bs-app-header-base-border-bottom);

  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-left: 35px;
    width: 100%;

    .nav-right {
      display: flex;
      align-items: center;

      .breadcrumb {
        margin: 0;
      }
    }
  }

  .margin-left {
    margin-left: var(--sidebar-width);
  }

  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
  }
}
