.navbar-app {
  height: var(--app-navbar-top-height);
  background: var(--body-bg-color);
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--sidebar-border-color);

  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-left: 35px;
    width: 100%;

    .nav-right {
      text-align: end;
      display: flex;
      align-items: center;

      .breadcrumb {
        margin: 0;
      }
    }
  }

  .margin-left {
    margin-left: var(--sidebar-width);
  }
}
