.expert-advice-app {
  .expert-icon {
    width: 48px;
    height: 48px;

    i {
      color: var(--bs-warning);
    }
  }

  .btn-warning {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);

    &:hover {
      background-color: var(--bs-warning);
      border-color: var(--bs-warning);
    }
  }
}
