.recent-projects {
  margin-top: 50px;

  .project-image-section {
    margin-top: 50px;

    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        float: left;
        width: 25%;
        overflow: hidden;

        @media (max-width: 1024px) {
          width: 50%;
        }

        img {
          width: 100%;
        }

        .view {
          position: absolute;
          top: 0;
          background: rgba(38, 38, 40, 0.5);
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
        }

        .view .description {
          color: #fff;
          margin-top: 50px;
          margin-bottom: 55px;
          font-size: 14px;
          line-height: 24px;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
        }

        &:hover .view {
          opacity: 1;
        }
      }
    }
  }

  .explore-our-project {
    padding: 40px 0 40px 0;
    width: 100%;
    justify-content: center;

    .view-all-projects {
      margin-left: 30px;
    }
  }
}
