.about-us {
  .short-about-us {
    margin-top: 40px;
    display: flex;
    width: 100%;

    .image-wrapper {
      text-align: center;
      width: 100%;
      height: 100%;

      img {
        border-radius: 50%;
        width: 90%;
        padding: 20px;
      }
    }

    .about-features-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;

        li {
          position: relative;
          width: 390px; // Set the card width
          background: var(--white-color);
          overflow: hidden;
        }
      }
    }

    @media (max-width: 768px) {
      display: grid;
    }
  }
}
