.landing-page {
  .bg-grey {
    background: var(--app-bg-color);
  }
}

#request-a-quote,
#why-choose-us,
#our-projects {
  scroll-margin-top: 100px; // Adjust this value based on the height of your header
}
