.sidebar-app {
  position: absolute;
  height: calc(100% - 0vw);
  padding: calc(var(--app-navbar-top-height) + 10px) 0 0 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-right: 1px solid var(--sidebar-border-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  .side-nav-item {
    .menu-arrow:before {
      content: "▼"; // Unicode character for a down arrow
      font-family: inherit; // Use the inherited font
      font-weight: normal; // Default font weight
    }
  }

  .side-nav-second-level {
    margin-left: 20px;
  }

  #sidebar-content {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    transition: width 0.2s;
    width: var(--sidebar-width);
    background: var(--sidebar-bg);

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: var(--sidebar-scrollbar-bg);
    }

    &::-webkit-scrollbar-button {
      height: 16px;
    }

    .sidebar-button {
      position: relative;
      margin-left: 15px;
      height: 54px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--sidebar-light-secondary);
      direction: ltr;
      cursor: pointer;
      z-index: 1;
      transition: color 0.2s;

      span {
        padding-left: 10px;
        transition: opacity 1s;
      }

      .bi {
        transition: min-width 0.2s;
      }

      &:hover {
        color: var(--sidebar-dark-primary);
      }
    }
  }

  #sidebar-footer {
    position: relative;
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    z-index: 2;
    //   transition: width 0.2s, height 0.2s;

    border-top: 1px solid var(--sidebar-border-color);
    height: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;

    i {
      padding-right: 10px;
    }
  }

  #sidebar-footer:hover {
    cursor: pointer;
  }

  #sidebar-toggle:checked {
    & ~ #sidebar-header {
      #sidebar-title {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s;
      }

      label[for="sidebar-toggle"] {
        left: calc(50% - 8px);
        transform: translate(-50%);
      }
    }

    & ~ #sidebar-content {
      width: var(--sidebar-width-min);

      .sidebar-button {
        span {
          opacity: 0;
          transition: opacity 0.1s;
        }

        .bi {
          min-width: calc(100% - 16px);
        }
      }
    }

    & ~ #sidebar-footer {
      width: calc(var(--sidebar-width-min));
    }
  }
}
