.top-section {
  height: 100vh; // Full viewport height
  display: flex;
  align-items: center;
  padding: 0 5%; // Add some padding for better spacing
  overflow: hidden;
  background-image: url("/images/banner3.png"); // Adjust the path to your image

  background-size: cover; // Ensures the image covers the entire background
  background-position: center; // Centers the image
  background-repeat: no-repeat; // Prevents the image from repeating

  // Add a darker overlay using a pseudo-element
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Adjust the opacity as needed
    z-index: 1; // Ensure the overlay is below the content
  }

  .content {
    color: var(--white-color);
    text-align: left;
    z-index: 2; // Ensure content is above the banner
    max-width: 50%; // Limit the width of the content

    .header {
      font-size: 3rem;
      margin-bottom: 1rem;
      animation: fadeInLeft 1s ease-in-out;
    }

    .sub-header {
      color: var(--white-color);
      font-size: 22px;
      margin-bottom: 2rem;
      animation: fadeInLeft 1.5s ease-in-out;
    }

    .our-service-button {
      animation: fadeInLeft 2s ease-in-out;
    }
  }
}
