.we-are {
  display: flex;
  padding: 0 40px 40px 0;

  .row {
    .column {
      position: relative;
      float: left;
    }

    .column-1-4 {
      width: 25%;

      @media (max-width: 768px) {
        width: 50%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }

    ul {
      li {
        list-style: none;

        p {
          color: var(--app-font-disabled-color);
          font-size: 14px;
        }
      }
    }
  }
}
