:root {
  // constants
  --app-navbar-top-height: 70px;

  // sidebar
  --sidebar-width: 256px;
  --sidebar-width-min: 80px;
  --sidebar-dark-primary: #18283b;
  --sidebar-dark-secondary: #2c3e50;
  --sidebar-light-primary: #f5f6fa;
  --sidebar-light-secondary: #8392a5;
  --sidebar-bg: #fff;
  --sidebar-scrollbar-bg: var(--bs-gray-500);
  --sidebar-border-color: #cbd0dd;

  // colors
  --scrollbar-thumb: #323248;
  --app-bg-color: #f5f8fa;
  --sidebar-bg-color: #1e1e2d;
  --sidebar-active-color: #2a2a3c;
  --default-font-color: #9d9da6;
  --white-color: #fff;
  --body-bg-color: #fff;

  --anchor-color: #3c4142;

  --bg-clr-1: #e7f8f8;
  --card-clr-red: #f03e3e;
}

[data-theme="dark"] {
  --app-bg-color: #000000;
  --sidebar-bg-color: #1e1e2d;
  --sidebar-active-color: #2a2a3c;
  --default-font-color: #9d9da6;
  --white-color: #fff;
  --body-bg-color: #1e1e2d;

  // sidebar
  --sidebar-width: 256px;
  --sidebar-width-min: 80px;
  --sidebar-dark-primary: #18283b;
  --sidebar-dark-secondary: #2c3e50;
  --sidebar-light-primary: #f5f6fa;
  --sidebar-light-secondary: #8392a5;
  --sidebar-bg: #222834;
  --sidebar-scrollbar-bg: var(--bs-gray-500);
  --sidebar-border-color: #31374a;

  background-color: #1e1e2d;
  color: #9d9da6;
}
