.login-app {
  // min-height: 100vh;
  // display: flex;
  // align-items: center;

  .bgi-position-center {
    background-repeat: no-repeat;
    background-image: url("/static/media/img/login-bg.png");
  }
}
