.login-app {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .bgi-position-center {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("/static/media/img/login-bg.png");
  }
}
