
.why-choose-us {
    .why-choose-us-list {
      display: flex;
      justify-content: space-around;
      padding: 0;

      @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }