.testimonial {
  /* --- testimonials --- */
  .testimonials-container {
    position: relative;
  }
  .testimonials-container .caroufredsel_wrapper_testimonials {
    width: 1050px !important;
    left: 60px !important;
  }
  .testimonials-container.type-small .caroufredsel_wrapper_testimonials {
    width: 100% !important;
    left: 0 !important;
  }
  .testimonials-list li {
    float: left;
    width: 1050px;
    text-align: center;
  }
  .testimonials-list li::before {
    display: block;
    width: 48px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 19px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .testimonials-list .ornament {
    position: relative;
    width: 1px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    background: #e2e6e7;
  }
  .testimonials-list .ornament::after {
    position: absolute;
    content: "";
    border: 1px solid #e2e6e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 11px;
    height: 11px;
    left: -6px;
    bottom: -13px;
  }
  .testimonials-list p {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 21px;
    color: #ffffff;
    line-height: 36px;
    padding: 29px 50px 0;
  }
  .testimonials-list p::after {
    display: block;
    content: "";
    background: #f4bc16;
    width: 40px;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-list .author {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 13px;
    color: var(--white-color);
    line-height: 20px;
  }
  .testimonials-list .author-details {
    margin-top: 7px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 11px;
    color: var(--white-color);
    line-height: 16px;
    letter-spacing: 1px;
  }
  .testimonials-container .re-carousel-pagination {
    position: absolute;
    right: 0;
    top: -52px;
  }
  .testimonials-container .re-carousel-pagination a {
    margin-top: 0;
  }
  .type-small .testimonials-list p {
    font-size: 16px;
    line-height: 26px;
    color: #444;
    border: 1px solid #e2e6e7;
    padding: 33px 40px 37px;
  }
  .type-small .testimonials-list p::after {
    content: none;
  }
  .type-small .testimonials-list .ornament {
    float: left;
    margin-left: 44px;
    margin-right: 43px;
    height: 101px;
  }
  .type-small .testimonials-list .ornament::after {
    background: var(--white-color);
    bottom: 0;
    top: -7px;
  }
  .type-small .testimonials-list .ornament::before {
    position: relative;
    display: block;
    color: #f4bc16;
    background: var(--white-color);
    width: 48px;
    font-size: 48px;
    top: 26px;
    left: -44px;
    border: 1px solid #e2e6e7;
    padding: 19px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  body .type-small .testimonials-list .ornament.empty-circle {
    height: 79px;
    margin-right: 6px;
  }
  body .type-small .testimonials-list .ornament.empty-circle::before {
    content: "";
    width: 11px;
    height: 11px;
    top: 66px;
    left: -6px;
    padding: 0;
  }
  .type-small .testimonials-list .author-details-box {
    float: left;
    margin-top: 50px;
    margin-left: 30px;
  }
  .type-small .testimonials-list .author {
    color: #444;
  }
  .type-small .testimonials-list .author-details {
    color: #999;
  }
  .column-1-2 .type-small .testimonials-list li,
  .column-1-3 .type-small .testimonials-list li {
    width: 570px;
    text-align: left;
    margin-right: 30px;
  }
  .column-1-3 .type-small .testimonials-list li {
    width: 370px;
  }
  /* --- our clients --- */
  .our-clients-list-container {
    overflow: hidden;
    text-align: center;
  }
  .our-clients-list li {
    float: left;
    width: 170px;
    height: 120px;
    margin-right: 30px;
  }
  .our-clients-list li img {
    width: 100%;
    height: auto;
  }
  .our-clients-list.type-list li {
    position: relative;
    margin-right: -1px;
    border: 1px solid #e2e6e7;
    width: 33%;
    height: 150px;
    text-align: center;
  }
  .our-clients-list.type-list li:nth-child(n + 4) {
    margin-top: -1px;
  }
  .our-clients-list.type-list .our-clients-item-container {
    display: inline-block;
  }
  .our-clients-list.type-list li .vertical-align-cell {
    text-align: center;
    height: 150px;
  }

  /* --- parallax --- */
  .parallax-1 {
    background-image: url("../images/samples/1920x1200/image_01.jpg");
  }
  .parallax-2 {
    background-image: url("../images/samples/1920x1200/image_02.jpg");
  }
  .parallax,
  .parallax h2,
  .parallax h4,
  .parallax p,
  .parallax .features-list li::before {
    color: var(--white-color);
  }
  .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0;
  }

  /* --- slider control --- */
  .slider-control {
    position: absolute;
    width: 26px;
    height: 26px;
    color: var(--white-color);
    border: 1px solid #e2e6e7;
    padding: 16px;
    top: 43%;
    font-size: 24px;
    z-index: 1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
  }
  .slider-control.right {
    right: 0;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
  }
  .slider-control:hover {
    background: #f4bc16;
    border-color: #f4bc16;
  }
  /* --- backgrounds --- */
  .background-1 {
    background-image: url("../images/samples/750x500/image_07.jpg");
    background-size: cover;
    background-position: center;
  }
}
