.full-width {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.align-content-center {
  align-content: center;
}

.text-align-center {
  text-align: center;
}
