:root {
  --primary-yellow-color: #f4bc16;
  --white-color: #fff;
  --black-color: #000;
  --paragraph-color: #444;

  --app-bg-color: #f5f5f5;
  --app-divider-color: #e2e6e7;
  --app-button-primary-alt-border-color: #e2e6e7;
  --app-button-primary-alt-color: #999;

  --app-font-disabled-color: #999;
}

[data-theme="dark"] {
  --primary-yellow-color: #f4bc16;
  --white-color: #fff;
  --black-color: #000;
  --paragraph-color: #444;

  --app-bg-color: #f5f5f5;
  --app-divider-color: #e2e6e7;
  --app-button-primary-alt-border-color: #e2e6e7;
  --app-button-primary-alt-color: #999;
  
  --app-font-disabled-color: #999;
}
